Repository shadyvd/twyr-patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx ember-template-lint --fix, npx eslint --cache --fix

Minor changes to auto-lint workflow
  .gitignore
  .lintstagedrc
  app/styles/twyr-patternfly.scss
  tests/dummy/app/styles/app.scss
Due: npx stylelint --fix

docs: Added commitizen to the workflow to enforce concentional commit messages
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

chore: added commitlint to the workflow
  commitlint.config.js
  package-lock.json
  package.json
Due: npx eslint --cache --fix

Add .circleci/config.yml
  .circleci/config.yml
Due: none

chore: trying out CI/CD with CircleCI and semantic-release
  .circleci/config.yml
  README.md
  package-lock.json
  package.json
Due: none

docs: added / remved badges in README
  README.md
Due: none

build: more CircleCI testing
  .circleci/config.yml
Due: none

ci: another try to get ember testing started on CircleCI
  .circleci/config.yml
Due: none

ci: more experimentation with CircleCI
  .circleci/config.yml
  package.json
Due: none

ci: more experimentation with CircleCI
  .circleci/config.yml
Due: none

ci: more experimenation with CircleCI
  .circleci/config.yml
Due: none

docs(readme): added correct CircleCI badge
  README.md
Due: none

test: reducing ember versions
  README.md
  config/ember-try.js
Due: npx eslint --cache --fix

chore: added more ember addons for good-to-have functionality
  .npmignore
  app/formats.js
  config/addon-docs.js
  config/deploy.js
  config/ember-intl.js
  package-lock.json
  package.json
  tests/dummy/config/environment.js
  translations/en-us.yaml
Due: npx eslint --cache --fix

chore(commitlint.config.js): changed to .commitlintrc.js
  .commitlintrc.js
Due: npx eslint --cache --fix

chore: commitlint.config.js changes to .commitlintrc.js
  .commitlintrc.js
Due: npx eslint --cache --fix

docs(readme): re-ordered badges
  README.md
Due: none

chore(package.json): automatic commit signoff
  package-lock.json
  package.json
Due: none

chore(package.json): automatic commit signoff
  package.json
Due: none

build: added classic edition back into ember-try mix
  config/ember-try.js
  package.json
Due: npx eslint --cache --fix

ci(targets): remove IE 11 as a target
  config/optional-features.json
  tests/dummy/config/targets.js
Due: npx eslint --cache --fix

test(optional-features): disabling jquery-integration
  tests/dummy/config/optional-features.json
Due: none

chore(package.json): removing commitlint temporarily
  package.json
Due: none

chore(package.json): re-enabling commitlint
  package.json
Due: none

test(optional-features): disabling jquery integration
  config/optional-features.json
Due: none

chore(commitizen): added .czrc file
  .czrc
  config/ember-try.js
  config/optional-features.json
  package.json
  tests/dummy/config/optional-features.json
  tests/dummy/config/targets.js
Due: npx eslint --cache --fix

chore(package.json): add .huskyrc
  .huskyrc
  package.json
Due: none

build(package.json): no parallelism in build
  package-lock.json
  package.json
Due: none

ci(package.json): npm-run-all options change
  package.json
Due: none

ci(circleci/config): trying out V2
  .circleci/config.yml
  package.json
Due: none

ci(crcleci/config): trying out V2
  .circleci/config.yml
Due: none

ci(circleci/config): trying out V2
  .circleci/config.yml
Due: none

ci(package.json): remove ember-try from smoke testing
  .huskyrc
  package.json
Due: none

ci(circleci/config): removed filters
  .circleci/config.yml
Due: none

ci(circleci/config): syntax error removal
  .circleci/config.yml
Due: none

ci(package.json): remove ember-try from smoke testing (#12)
  .circleci/config.yml
  .huskyrc
  package.json
Due: none

docs(readme): snyk badge
  CONTRIBUTING.md
  README.md
Due: none

Path conditions:
  npx stylelint --fix: (any of: *.css) or (any of: *.scss)
  npx ember-template-lint --fix: any of: *.hbs
  npx eslint --cache --fix: any of: *.js
